<header class="sticky">
  <a routerLink="/" class="logo"> <span class="icon-home"></span> <span>{{ title
      }}</span> </a>
  <a routerLink="heroes" routerLinkActive="router-link-active" class="button">
    <span> Heroes</span>
  </a>
  <a routerLink="about" routerLinkActive="router-link-active" class="button">
    <img width="32" style="vertical-align: -0.5em" src="./assets/logo.png" />
    <span> About us</span>
  </a>
  <a routerLink="contacts" class="button">
    <span> Contacts</span>
  </a>
  <a routerLink="car" class="button">
    <span>
      4 - Carro
      <fa-icon [icon]="['far', 'caret-square-up']"></fa-icon>
    </span>
  </a>
  <a routerLink="converter" class="button">
    <span> Converter </span>
  </a>
  <a routerLink="estudios" class="button">
    <span>
      <fa-icon [icon]="['fas', 'book']"></fa-icon>
      Estudios
    </span>
  </a>
</header>
