<h2>Curso DIM43</h2>
<div class="container">
  <div class="row">
    <div class="col-8">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, reprehenderit. Harum quisquam temporibus
        eum pariatur vel numquam aliquam dolores ratione odit voluptatem! Tenetur totam mollitia numquam delectus vel
        quo itaque.</p>
      <p>
        <a routerLink="info" class="button">
          <span> mas información</span>
        </a>
        <a routerLink="guia" class="button">
          <span>guia</span>
        </a>
        <a routerLink="info/js" class="button">
          <span>info JS</span>
        </a>
      </p>
    </div>
    <div class="col-4">
      <img src="https://picsum.photos/400/500">
    </div>
  </div>
</div>

<router-outlet></router-outlet>

