<div class="text-center" style="background-image: url('./assets/mtg.jpg'); background-repeat: repeat-y ; background-attachment: fixed; background-position: center;">
  <h2><img src="./assets/MagicLogo.png" alt="Magic: the Gathering"></h2>
  <div>Tu aplicación de Magic: the Gathering definitiva.</div>
  <hr>
  <div>
    <span class="font-weight-bold">Elige una colección:</span>
    <select name="sets" [(ngModel)]="codigoSet" (change)="cargarSet()">
      <option *ngFor="let s of sets" [value]="s.code">
        <span>{{ s.name }}</span>
      </option>
    </select>
  </div>

  <div *ngIf="codigoSet!=null">
    <app-set  [set]="set"
              [cartas]="cartas"
              (mostrarCarta)="mostrarCarta($event)">
    </app-set>
  </div>
</div>
